* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

dl,
ol,
ul {
  list-style: none;
  margin: 0;
}

button:focus {
  outline: none;
}

.form-group {
  position: relative;
}

.form-group .error-msg {
  color: #721c24;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
